@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0c0c;
}

nav {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 108px;
  padding-top: 4px;
  justify-content: space-around;
  align-items: center;
  background-color: #32fee6c5;
  backdrop-filter: blur(8px);
}

.logo {
  height: 9vh;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

.logo li {
  list-style: none;
  text-decoration: none;
}

#buttonNav {
  font-size: max(2vh, 16px);
  color: #32fee6c5;
  padding: 10px;
  border: solid 2px #32fee6c5;
  border-radius: 25%;
  transition: all 300ms ease-in-out;
}

#buttonNav:hover {
  background-color: #32fee5;
  color: #181818;
  border-color: #32fee5;
}

.links {
  display: flex;
  margin-top: max(10vh, 110px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links a {
  text-decoration: none;
  color: #000000da;
}

.links li {
  text-decoration: none;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.3%;
  margin-bottom: 1.3%;
  padding: 10px;
  width: 390px;
  font-weight: 900;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  background-color: #32fee6c5;
  border: solid 1px #1e2c30e5;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}

.links li:hover {
  transform: scale(1.005);
  background-color: #32fee5;
}

.footer {
  margin-top: 2.5rem;
  font-family: monospace;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  color: #f0ffff;
}

@media screen and (max-width: 550px) {
  .links li {
    width: 250px;
    height: 90px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
}
